body{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    margin: 10px;
    color: white;
    font-size: 20px ;
}
.main{
    width: 100%;
    height: 100%;
}
.manu{
    border: 1px solid;
    background-color: green;
    color:white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.manu h1{
    font-size: 32px;
    padding: 0px 54px;
}
.manu1{
    float: right;
    padding: 6px 66px;
    margin: -66px -19px;
}
ul{
    display: flex;
    margin: 0px;
  
}
/* .nave{
    width:100%;
    height: 400px;
    border: 1px solid;
    background-image: url("./images2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
} */
.box-icon{
    /* text-align: center; */
    display: flex;
   justify-content: space-around;
   text-align: center;
}
.first{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 20px 0px;
     background: linear-gradient(to left, red,yellow,blue);
}

   .first1{

   
   width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 20px 0px;
    background:linear-gradient(to top left , green,red) ;
}
.first2{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 20px 0px;
    background-color: lightgreen;
    background: radial-gradient( red 20%,yellow 25%,blue);
     
}

.second{
    display: flex;
    justify-content:center;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 55px;
    background-color: lightgreen;
}
.box1{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 55px;
    background-color: pink; 
}
.third{
    justify-content: center;
}